<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    
    <display-name>Minha Rede Social</display-name>
    
    <filter>
        <filter-name>FiltroDeSeguranca</filter-name>
        <filter-class>br.com.minharede.Filtro</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>FiltroDeSeguranca</filter-name>
        <url-pattern>/*</url-pattern> 
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>br.com.minharede.servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.com.minharede.servlets.LoginServlet</servlet-class>
    </servlet>
    <!-- Adicione outros servlets aqui -->
    
    
    <!-- Outros mappings -->
    
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error500.jsp</location>
    </error-page>
</web-app>